CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CORS_ORIGIN=
JWT_ACCESS_EXPIRES=15m
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES=7d
JWT_REFRESH_SECRET=
MONGO_URI=
NOTIFY_EMAIL=
PORT=3000
SEED_ADMIN_EMAIL=
SEED_ADMIN_NAME=
SEED_ADMIN_PASSWORD=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_KEY=
SUPABASE_URL=
SUPERADMIN_EMAIL=
VITE_API_URL=
